/* Our default values set as CSS variables */
/*:root {
  --color-bg: #69F7BE;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HKGrotesk";
  --font-family-header: "HKGrotesk";
}

@font-face {
  font-family: HKGrotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HKGrotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

* {
  box-sizing: border-box;
}

body {
  font-family: HKGrotesk;
  /*background-color: var(--color-bg);*/
/*}*/
/*
.bg {
  background-image: url(https://cdn.glitch.global/817f33b2-b65c-4f98-b326-ec8477759be2/REDUZIDA_bg.jpg?v=1650507447060);
  background-size: cover;
  background-attachment: fixed;
}

header {  
  color: #000000;      
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 105%;
  margin: 12px 0 12px 0;  
  border-bottom: 4px solid #fff;
  text-align: center;
}

footer {
  font-size: 14px;
  justify-content: space-between;
  margin: 12px 0 12px 0;
  width: 100%;
  border-top: 4px solid #fff;
}

main div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 12px 0 0 0;
}

main div * {
  margin: 0 6px 0 6px;
}

[hidden] {
  display: none !important;
}

button  {
  font-family: HKGrotesk;
  padding: 12px 12px;
  font-size: 14px;
  line-height: 1px;
  height: 20px;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

div {
  margin: 12px 0 12px 0;  
} */

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Work+Sans:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /*analisar isso como motivo do bug do box branco. Ele anula outras configurações*/
  text-decoration: none;
}

body {
  font-size: 100%;
  background: url(https://cdn.glitch.global/817f33b2-b65c-4f98-b326-ec8477759be2/REDUZIDA_bg.jpg?v=1650507447060);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 32px;
}

.cabecalho-logo {
  /*line-height: 42px;*/

  
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  color: #0078AB;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}


.conteudo-principal-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  font-family: 'Mukta', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  /* identical to box height */
  color: #004A69;
}

.conteudo-principal-dados {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Mukta', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  margin-left: 10px;
  /* identical to box height */

  text-align: center;
  color: #004A69;
  
}

.msg-retorno {
  font-family: 'Mukta', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  /* identical to box height */
  text-align: left;
  color: #004A69;
  padding: 10px;
  margin-left: 10px;
  text-decoration: none;
}

#link-retorno:link {
  color: #0086BF;
}

#link-retorno:hover {
  color: #0086BF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#caixa {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 13px;
  position: absolute;
  width: 930px;
  height: 835px;
  margin-top: 440px;
  left: 50%;
  margin-right: -50%;  /*MODELO DE CENTRALIZAÇÃO IDEAL*/
  transform: translate(-50%, -50%) 
}

.conteudo-principal-inclusao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 32px;
}

.conteudo-principal-navegacao {
  display: flex;
  flex-direction: row;   /*deletar tudo, apenas teste*/
  align-items: center;
  justify-content: space-around;
  padding-top: 32px;
  
}

#tfNome{
  width: 572px;
  height: 41px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
  margin-right: 10px;
  font-family: 'Mukta', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  padding: 5px;
}

#tfCpf{
  width: 572px;
  height: 41px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
  margin-right: 10px;
  font-family: 'Mukta', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  padding: 5px;
}

#tfEmail{
  width: 572px;
  height: 41px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
  margin-right: 10px;
  font-family: 'Mukta', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  padding: 5px;
}

#tfTelefone{
  width: 572px;
  height: 41px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
  margin-right: 10px;
  font-family: 'Mukta', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  padding: 5px;
}

#tfMatricula{
  width: 572px;
  height: 41px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
  margin-right: 10px;
  font-family: 'Mukta', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  padding: 5px;
}


#btIncluir {
  width: 158px;
  height: 68px;
  background: #00E817;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-right: 72px;
  border:none;
}

#btAlterar {
  width: 158px;
  height: 68px;
  background: #868686;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  border: none;
}

#btExcluir {
  width: 158px;
  height: 68px;
  background: #FF0000;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-left: 72px;
  border: none;
}

#btPrimeiro{
  width: 186px;
  height: 51px;
  background: #1135B7;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-left: 45px;
  margin-right: 24px;
  border: none;
}

#btAnterior{
  width: 186px;
  height: 51px;
  background: #1135B7;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-right: 24px;
  border: none;
}

#btProximo{
  width: 186px;
  height: 51px;
  background: #1135B7;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-right: 24px;
  border: none;
}

#btUltimo{
  width: 186px;
  height: 51px;
  background: #1135B7;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-right: 50px;
  border: none;
}

#btSair{
  width: 186px;
  height: 51px;
  background: #000D3D;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 21px;
  border: none;
  margin-left: 40%;
}

#divAviso {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #004A69;
}


#btOk {
  width: 186px;
  height: 51px;
  background: #000D3D;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  /*margin: 10px;*/
  border: none;
  margin-left: 20%;
  margin-right: 20%;
}

#btCancelar {
  width: 186px;
  height: 51px;
  background: #000D3D;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  /*margin: 10px;*/
  border: none;
  
}

#btPrimeiro:hover, #btAnterior:hover, #btProximo:hover, #btUltimo:hover {
  background: #204FF6;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#btIncluir:hover {
  background: #02F41A;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#btAlterar:hover {
  background: #B5B3B3;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#btExcluir:hover {
  background: #FF7575;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#btSair:hover, #btOk:hover, #btCancelar:hover {
  background: #0024A2;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

footer {
  text-align: center;
  margin-top: 900px;
}

/* cógido correto da imagem sem zoom */
/*.hotel_img {
  display: flex;
  text-align: center;
  position: absolute;
  width: 559px;
  height: 373px;
  /*border: 1px solid #004A69;*/
  /*box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  margin-top: 250px;
  left: 50%;
  margin-right: -50%;  /*MODELO DE CENTRALIZAÇÃO IDEAL*/
  /*transform: translate(-50%, -50%) 
}*/

.zoom {
	overflow: hidden;
  display: flex;
  text-align: center;
  position: absolute;
  width: 559px;
  height: 373px;
  margin-top: 250px;
  left: 50%;
  margin-right: -50%;  /*MODELO DE CENTRALIZAÇÃO IDEAL*/
  transform: translate(-50%, -50%)
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

a.text-item { 
   color: currentColor;
} 

.text-item {
  text-decoration: none;
	position: absolute;
  font-family: 'Mukta', sans-serif;
	left: 5%;
	right: 5%;
	bottom: 1px;
	/*z-index: 10;*/
	padding-top: 20px;
	padding-bottom: 0px;
	color: #ffffff;
	text-align: center;
	font-weight: 700;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}








