/* Our default values set as CSS variables */
/*:root {
  --color-bg: #69F7BE;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HKGrotesk";
  --font-family-header: "HKGrotesk";
}

@font-face {
  font-family: HKGrotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HKGrotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

* {
  box-sizing: border-box;
}

body {
  font-family: HKGrotesk;
  /*background-color: var(--color-bg);*/
/*}*/
/*
.bg {
  background-image: url(https://cdn.glitch.global/817f33b2-b65c-4f98-b326-ec8477759be2/REDUZIDA_bg.jpg?v=1650507447060);
  background-size: cover;
  background-attachment: fixed;
}

header {  
  color: #000000;      
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 105%;
  margin: 12px 0 12px 0;  
  border-bottom: 4px solid #fff;
  text-align: center;
}

footer {
  font-size: 14px;
  justify-content: space-between;
  margin: 12px 0 12px 0;
  width: 100%;
  border-top: 4px solid #fff;
}

main div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 12px 0 0 0;
}

main div * {
  margin: 0 6px 0 6px;
}

[hidden] {
  display: none !important;
}

button  {
  font-family: HKGrotesk;
  padding: 12px 12px;
  font-size: 14px;
  line-height: 1px;
  height: 20px;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

div {
  margin: 12px 0 12px 0;  
} */

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Work+Sans:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: url(https://cdn.glitch.global/817f33b2-b65c-4f98-b326-ec8477759be2/REDUZIDA_bg.jpg?v=1650507447060);
  
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 32px;
}

.cabecalho-logo {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 42px;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(158, 179, 188, 0.94) 77.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  color: #0078AB;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.conteudo-principal-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  font-family: 'Mukta', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  /* identical to box height */
  color: #004A69;
}

.conteudo-principal-dados {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Mukta', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  /* identical to box height */

  text-align: center;
  color: #004A69;
}

.caixa {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 13px;
  position: absolute;
  width: 930px;
  height: 826px;
  top: 11%;
  
  
}

.conteudo-principal-inclusao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 32px;
}

#btIncluir {
  width: 158px;
  height: 68px;
  background: #00E817;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-right: 72px;
}

#btAlterar {
  width: 158px;
  height: 68px;
  background: #868686;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

#btExcluir {
  width: 158px;
  height: 68px;
  background: #FF0000;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-left: 72px;
}

#btPrimeiro{
  width: 186px;
  height: 51px;
  background: #1135B7;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

#btAnterior{
  width: 186px;
  height: 51px;
  background: #1135B7;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

#btProximo{
  width: 186px;
  height: 51px;
  background: #1135B7;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

#btUltimo{
  width: 186px;
  height: 51px;
  background: #1135B7;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

#btSair{
  width: 186px;
  height: 51px;
  background: #000D3D;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 21px;
}